h1 {
     
    margin-left: 35%;
    margin-right: 35%;
   }
   
   h2 {
    
    margin-left: 10%;
    margin-right: 10%;
   }
   h3 {
    margin-left: 10%;
    margin-right: 10%;
   }
   p {
    
    margin-left: 10%;
    margin-right: 10%;
   }
   b {
    outline:none
}
   li {
    outline: 1px solid orange;
    margin-left: 5%;
    margin-right: 5%;
   }
   img {

    margin-left: 10%;
    margin-right: 10%;
   }
   